<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intwixt | AI-enabled Slack Workflows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Run AI-enabled workflows directly in Slack"/>
    <meta name="keywords" content="BPM, Slack, Workflow, Business Process"/>
    <meta name="author" content="info@intwixt.com"/>

    <!-- social integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Slack Emulator styles  -->
    <link rel="stylesheet" href="emulator/css/slack.css">

    <!-- Analytics -->
    <script>(function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-72994520-1', 'auto');
    ga('send', 'pageview');</script>
    <script>ga('create', 'UA-72994520-1', 'auto', {'name': 'custom'});</script>
</head>
<body>


<div id="page-wrap">


    <!-- ==========================================================================================================
                                                       HERO
         ========================================================================================================== -->

    <div id="fh5co-hero-wrapper">
        <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
            <a class="navbar-brand" href="/">Intwixt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-items-right ml-auto mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#solutions" onclick="$('#solutions').goTo('solutions');">Solutions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="$('#fh5co-call-to-action').goTo();return false;">Request a
                            Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-btn btn-md btn" href="https://my.intwixt.com/"><i class="fas fa-sign-in-alt"></i>
                            Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container fh5co-hero-inner">
            <h1 class="animated fadeIn wow" data-wow-delay="0.4s">AI-enabled Slack Workflows</h1>
            <p class="printout animated fadeIn wow" data-wow-delay="0.4s">
                Run <span class="special">conversational</span> business processes directly in Slack.
            </p>
            <p class="animated fadeIn wow typewriter" data-wow-delay="0.5s">Run
                <span class="typewrite" data-period="1000"
                      data-type='[ "sophisticated", "stateful", "multi-user", "cross-channel", "conversational", "AI-enhanced" ]'>
                <span class="wrap"></span>
              </span> business processes <span class="remainder">directly in Slack.</span>
            </p>
            <div class="btn-bar">
                <button class="btn btn-md features-btn-first animated fadeInLeft wow" data-wow-delay="0.95s"
                        onclick="$('#solutions').goTo();return false;">Tell Me More
                </button>
            </div>
            <ul id="quotes" class="quotes cycle">
                <li>"Slack is where and how work gets done. Messaging apps like Slack are becoming the de-facto standard for the enterprise".</li>
		<li>"By 2025, channels will replace email as the primary means of communication. Slack will be leveraged for new revenue opportunities and efficiency gains, while leveraging existing investments in
                    business processes and rules".</li>
                <li>"AI-powered solutions for business process automation orchestrates work to produce business outcomes that go far beyond
                    typical process performance results".</li>
                <li>"AI-models make predictions around business processes to accelerate transformation".</li>
		<li>"Model-Driven Development allows to program on a higher abstraction level and captures domain knowledge and
                    bridges the gap between business and IT".</li>
          
            </ul>

            <div class="fh5co-hero-smartphone animated fadeInRight wow" data-wow-delay="1s">

                <img class="smartphone" src="img/iphone-2.png" alt="Slack-enabled business processes">

                <div class="phone_canvas_container">
                    <canvas id="viewport1" width="406" height="650"></canvas>
                </div>

            </div> <!-- fh5co-hero-smartphone -->


        </div> <!-- fh5co-hero-inner -->
    </div> <!-- first section wrapper -->


    <!-- ==========================================================================================================
                                                     DIFFERENTIATORS
         ========================================================================================================== -->

    <div id="fh5co-differentiators" class="fh5co-advantages-outer">
        <div class="container">
            <h1 class="second-title">Intwixt delivers next-generation <!-- layout tests (single line)  `workflow and` --> business process innovation</h1>

            <div class="row fh5co-advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">
                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/multi_user.png" alt="Multi-user">
                    <h2 class="grid-title">Conversational</h2>
                    <p class="grid-desc">Our workflows and business processes are conversational and able to interact with systems and people through natural language processing. 
			    Conversational means maintaining the context of the conversation and the ability to redirect based on past interaction across systems, people, and time.
			We enable more than just task management and integration.  
</p>
                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/ai_enabled.png" alt="Long-running">
                    <h2 class="grid-title">Cognitive</h2>
                    <p class="grid-desc">Cognitive computing uses artificial intelligence(AI) technologies to simulate human thought processes and conversations.
Leveraging AI to transform workflows and business processes is an essential part of the Digital Transformation.   Our cognitive workflows and business processes are using AI to sense, respond, predict, and learn, and further automate business process execution.
This allows to go beyond rule-based workflows and business processes, making operations more fluid and flexible.
                    </p>
                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/long_running.png" alt="AI-enabled">
                    <h2 class="grid-title">Stateful</h2>
                    <p class="grid-desc">In a stateless system, you are interacting with a limited system and a simple workflow task.  Stateless interactions fail to support the essentially multi-step character of conversational business interactions and processes. A conversation in form of a business process spans systems , people, and time. It therefore needs to be stateful to perform efficiently.
Our workflows and business processes are self-aware of their state and can maintain a conversation across systems, people, and time.
</p>
                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/slack_centric.png" alt="Slack-centric">
                    <h2 class="grid-title">Model-driven</h2>
                    <p class="grid-desc">Our platform is  model-based and designed for business users. It allows to manage software complexity, improve quality, and reduce development cost in a high-productivity application Platform-as-a-Service environment.
Through declarative application construction in our highly scalable environment we can implement, integrate and enhance any workflow and business process.
.</p>
                </div>
            </div>

        </div>
    </div>




    <!-- ==========================================================================================================
                                 USE CASES / EXAMPLE DOMAIN SOLUTIONS
         ========================================================================================================== -->

    <div id="solutions" class="curved-bg-div container"></div>

    <div id="fh5co-features" class="fh5co-features-outer">
        <div class="container">
            <h1 class="second-title">Your favorite apps, only better.</h1>

            <div class="row fh5co-features-grid-columns">



     <!-- ==========================================================================================================
                              USE CASE 1:  BOX, MULTI-USER DOCUMENT APPROVAL
     ========================================================================================================== -->

                <div class="col-sm-8 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <h1 class="small-factor">Document Approval</h1>

                    <!-- The 'runner' reveals slack workspaces, images, and example flows per the story being told -->
                    <div id="unboxed" class="emulator" v-cloak>

                        <!-- runs the emulators -->
                        <div class="runner">

                        <!-- overlay to show when in 'idling' state -->
                        <div v-bind:class="['story_overlay', { active: story_board.state === 'idling' }]">
                            <div v-on:click="play()"
                                 class="play"><i class="far fa-play-circle fa-10x"></i></div>
                        </div>

                        <!-- overlay to show when in 'played' state (this is the call-to-action) -->
                        <div v-bind:class="['story_overlay', { active: story_board.state === 'played' }]">
                            <div v-on:click="play(true)"
                                 class="play"><i class="fas fa-reply-all fa-10x"></i></div>
                        </div>

                        <div v-for="(panel, panel_id) in panels">

                            <!-- intwixt emulator; common container that renders the graph on the canvas -->
                            <div :id="panel_id"
                                 class="intwixter panel"
                                 v-bind:class="[{ active: activePanelId === panel_id }]"
                                 v-if="panel.type === 'intwixt'">
                                <div class="head">
                                    <label>Intwixt Designer</label>
                                    <img src="https://my.intwixt.com/static1/css/img/logos/light_300.png">
                                </div>
                                <div class="body">
                                    <canvas id="viewport_runner" width="666" height="500"></canvas>
                                    <div class="plus"><span>+</span></div>
                                </div>
                            </div>

                            <!-- slack emulator; each instance represents a slack user and their workspace -->
                            <div :id="panel_id"
                                 v-if="panel.type === 'slack'"
                                 v-bind:class="['slacker', 'panel', { active: activePanelId === panel_id }]">
                                <div class="slack">
                                    <div class="sidebar">
                                        <div class="workspace_selector">
                                            {{panel.workspace.title}} <span class="carat"><i
                                                class="fas fa-angle-down"></i></span>
                                        </div>
                                        <div class="active_user">
                                            {{users[panel.activeUserId].title}}
                                        </div>
                                        <div class="label">Channels</div>
                                        <div v-for="(channel, channel_id) in panel.channels"
                                             v-if="!channel.is_dm"
                                             v-on:click="set_active_channel(panel_id, channel.id)"
                                             v-bind:class="['channel', { active: panel.activeChannelId === channel.id }, { private: channel.private }, { activating: channel.activating }]"
                                             v-bind:key="channel.id">
                                            {{channel.title}}
                                        </div>
                                        <div class="label">Apps</div>
                                        <div v-for="(channel, channel_id) in panel.channels"
                                             v-if="channel.is_dm"
                                             v-on:click="set_active_channel(panel_id, channel.id)"
                                             v-bind:class="['channel', 'app', { active: panel.activeChannelId === channel.id }, { activating: channel.activating }]"
                                             v-bind:key="channel.id">
                                            {{channel.title}}
                                        </div>
                                    </div>
                                    <div class="main" v-if="panel.channels[panel.activeChannelId]">
                                        <div class="chrome">
                                            <span class="signal"><i class="fas fa-signal"></i></span>
                                            <span class="wifi"><i class="fas fa-wifi"></i></span>
                                            <span class="time">3:27 PM</span>
                                            <span class="battery"><small>75%</small>&nbsp;&nbsp;<i
                                                    class="fas fa-battery-three-quarters"></i></span>
                                        </div>
                                        <div class="info">
                                            <span class="icon"></span>
                                            <label v-bind:class="[panel.channels[panel.activeChannelId].id, { app: panel.channels[panel.activeChannelId].is_dm }, { private: panel.channels[panel.activeChannelId].private && !panel.channels[panel.activeChannelId].is_dm }, { public: !panel.channels[panel.activeChannelId].private }]">{{panel.channels[panel.activeChannelId].title}}</label>
                                            <div class="channel_profile">
                                                <span class="star"><i class="far fa-star"></i></span>
                                                <span class="members"><i class="fas fa-user"></i> {{panel.channels[panel.activeChannelId].members}}</span>
                                                <span class="pins"><i class="fas fa-thumbtack"></i> {{panel.channels[panel.activeChannelId].pins}}</span>
                                                <span class="more"><i class="fas fa-ellipsis-v"></i></span>
                                            </div>
                                        </div>
                                        <div class="messages">
                                            <div v-for="(message, message_id) in panel.channels[panel.activeChannelId].messages"
                                                 v-bind:class="['message', { activating: message.activating }]"
                                                 v-bind:key="message.id">
                                                <img class="avatar"
                                                     :src="'/img/avatars/' + users[message.author].avatar">
                                                <div class="data">
                                                    <div class="metadata">
                                                        <span class="author">{{users[message.author].title}}</span>
                                                        <span
                                                                class="timestamp">{{message.timestamp}}</span>
                                                    </div>
                                                    <div>
                                                        <img class="icon" v-if="message.icon" :src="message.icon"
                                                             align="right">
                                                        <div class="text" v-html="message.text"></div>
                                                        <div v-if="message.file" class="file">
                                                            <i class="far fa-file-alt file_icon"></i>
                                                            {{message.file}}
                                                        </div>
                                                        <p v-if="message.actions" class="actions">
                                                            <button v-for="(action, action_id) in message.actions"
                                                                    v-bind:key="action.id"
                                                                    v-on:click="act(panel_id, panel.channels[panel.activeChannelId], message, action)"
                                                                    v-bind:class="[action.style, { activating: action.activating }]">
                                                                {{action.title}}
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input">
                                            <i class="fas fa-paperclip"
                                               v-bind:class="[{ activating: panel.file.activating }]"
                                               v-on:click="show_file_prompt(panel_id)"></i>
                                            <input type="text"
                                                   v-model="panel.input"
                                                   :placeholder="'Message ' + panel.channels[panel.activeChannelId].title"
                                                   v-on:keyup.enter="send_message(panel_id)">
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="['slack_overlay', { active: panel.file.active }]">
                                    <div class="mask"></div>
                                    <div class="file_upload">
                                        <h3 class="file_title">Upload a file</h3>
                                        <i class="fas fa-times file_close"
                                           v-on:click="cancel_file_upload(panel_id)"></i>
                                        <textarea class="file_message"
                                                  v-model="panel.file.message"
                                                  placeholder="Add a message about the file"></textarea>
                                        <div class="file_wrapper">
                                        <span class="file">
                                            <i class="far fa-file-alt file_icon"></i>
                                            <label class="file_name">{{panel.file.filename}}</label>
                                        </span>
                                        </div>
                                        <button class="file_button btn"
                                                v-bind:class="[{ activating: panel.file.submitting }]"
                                                v-on:click="before_file_upload(panel_id, panel.file.filename, panel.file.message)">
                                            Upload
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="annotation"
                             v-bind:class="[{ active: annotation.user }]">
                            <div class="triangle"></div>
                            <img class="avatar"
                                 v-if="annotation.user"
                                 :src="'/img/avatars/' + users[annotation.user].avatar">
                            <p class="text">
                                <label class="role">{{annotation.role}}</label>
                                <span v-html="annotation.text"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 in-order-2 sm-4-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1 class="large-factor">Document Approval</h1>
                    <p>An experienced and disciplined approach to document management is essential.
                        Reviewing business, legal, and technical documents in a more structured,
                        process-driven manner from within Slack needs to be conversational, stateful,
                        transparent and fast. </p>
                    <span class="circle" title="Submitter"><img class="avatar" src="/img/avatars/u1.png"></span>
                    <span class="circle" title="Submitter"><img class="avatar" src="/img/avatars/a1.png"></span>
                    <span class="circle" title="1st-level approver"><img class="avatar" src="/img/avatars/u2.png"></span>
                    <span class="circle" class="Box"><img src="https://my.intwixt.com/stars/Box.1/image_96"></span>
                    <span class="circle" title="2nd-level approver"><img class="avatar" src="/img/avatars/u3.png"></span>
                    <span class="circle" title="Slack"><img src="https://my.intwixt.com/stars/Slack.1/image_96"></span>
                </div>




                <div style="margin-top:200px;" class="row fh5co-features-grid-columns">
                    <div class="col-sm-4 in-order-3 sm-4-content wow animated fadeInLeft" data-wow-delay="0.22s">
                        <h1>Customer Relationships</h1>
                        <p> The customer journey can be enhanced across the enterprise while leveraging Slack
                            collaboration and AI capabilities; information sharing, assignments and approval management on sales leads and/or
                            opportunities, along with other supporting information, can be directly managed in
                            Slack and enhanced by AI. </p>
                        <span class="circle circle-first"><img style="width:32px;" src="https://my.intwixt.com/stars/HubSpot.1/image_96"></span>
                        <span class="circle circle-middle"><i class="far fa-star"></i></span>
                        <span class="circle circle-last"><i class="far fa-thumbs-up"></i></span>
                    </div>

                    <div class="col-sm-8 in-order-4 wow animated fadeInRight" data-wow-delay="0.22s">
                        <img class="img-float-right" src="img/smartphone-2.png" alt="smartphone-2">
                    </div>
                </div>

                <div class="col-sm-8 in-order-5 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <div class="col-sm-image-container">
                        <img class="img-float-left" src="img/smartphone-2.png" alt="smartphone-3">
                    </div>
                </div>

                <div class="col-sm-4 in-order-6 sm-4-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1>Employee Onboarding</h1>
                    <p>Employee onboarding process is a key to success for your organization’s new hires. The entire process spans across many systems, people and time. Starting with 
                    proper permission handling for access rights to signing additional paperwork to purchasing hardware and software licenses, including 
                    a welcome email to the team. </p>
                    <span class="circle circle-first">95%</span>
                    <span class="circle circle-middle"><i class="fas fa-forward"></i></span>
                    <span class="circle circle-last"><i class="fab fa-github"></i></span>
                </div>

            </div> <!-- row -->


        </div>
    </div>


    <!-- ==========================================================================================================
                                                      CUSTOMERS
         ========================================================================================================== -->

    <div id="fh5co-reviews" class="fh5co-reviews-outer">
        <h1>Our Partners / Customers</h1>
        <div class="container" style="text-align:center;">
            <section class="customer-logos slider">
                <div class="slide o5 animated fadeIn wow" data-wow-delay="0.5s"><a
                        href="https://regentstreetonline.com"><img src="img/logos/regent.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.15s"><a href="https://aito.ai"><img
                        src="img/logos/aito.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.25s"><a href="https://aws.amazon.com"><img
                        src="img/logos/aws_pn.png"></a></div>
                <div class="slide o5 x2 animated fadeIn wow" data-wow-delay="0.35s"><a
                        href="https://thecommunicationsstore.co.uk"><img src="img/logos/tcs.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.45s"><a href="http://uipath.com"><img
                        src="img/logos/uipath.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.55s"><a
                        href="https://www.automationanywhere.com/"><img src="img/logos/aa.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.65s"><a
                        href="https://intwixtqa.slack.com/apps/AFZ68L1NC-cofounder-eq"><img
                        src="img/logos/cfeq.png"></a></div>
            </section>
        </div>
    </div>


    <!-- ==========================================================================================================
                                                 BOTTOM
    ========================================================================================================== -->

    <div id="fh5co-call-to-action" class="fh5co-bottom-outer">
        <div class="overlay">
            <div class="container fh5co-bottom-inner">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-7 call-to-action">
                        <h1>Want to learn more?</h1>
                        <p>Run conversational business processes backed by our AI-enabled process engine.</p>
                        <button class="btn btn-md features-btn-more animated fadeIn wow" data-wow-delay="0.25s"
                                onclick="$('#fh5co-differentiators').goTo();return false;">Contact Us
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-5">
                        <div class="benefits">
                            <div class="rotate anim1">
                                <div class="counterrotate">
                                    <div class="inner">
                                        <img class="icon-filter-white" src="img/benefits/efficiency.png" alt="Efficient">
                                        <div>Efficiency</div>
                                    </div>
                                </div>
                            </div>
                            <div class="rotate anim2">
                                <div class="counterrotate">
                                    <div class="inner">
                                        <img class="icon-filter-white" src="img/benefits/transparency.png" alt="Transparent">
                                        <div>Transparency</div>
                                    </div>
                                </div>
                            </div>
                            <div class="rotate anim3">
                                <div class="counterrotate">
                                    <div class="inner">
                                        <img class="icon-filter-white" src="img/benefits/usability.png" alt="Usable">
                                        <div>Usability</div>
                                    </div>
                                </div>
                            </div>
                            <div class="rotate anim4">
                                <div class="counterrotate">
                                    <div class="inner">
                                        <img class="icon-filter-white" src="img/benefits/extensibility.png" alt="Extensible">
                                        <div>Extensibility</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ==========================================================================================================
                                               SECTION 7 - SUB FOOTER
    ========================================================================================================== -->

    <footer class="footer-outer">
        <div class="container footer-inner">

            <div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
                <div>
                    <nav class="footer-nav">
                        <ul class="nav-items">
                            <a href="#" onclick="$('#fh5co-hero-wrapper').goTo();return false;">
                                <li><i class="fas fa-arrow-up"></i> TOP</li>
                            </a>
                            <a href="/faq">
                                <li>FAQ</li>
                            </a>
                            <!-- a href="/videos">
                                <li>Videos</li>
                            </a -->
                            <a href="https://intwixt.readme.io">
                                <li>User Guide</li>
                            </a>
                            <a href="/blog">
                                <li>Blog</li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>

            <span class="border-bottom-footer"></span>

            <p class="copyright">&copy; 2019 Intwixt, Inc. All rights reserved.</p>

        </div>
    </footer>


</div> <!-- main page wrapper end content -->

<script src="https://cdn.jsdelivr.net/npm/underscore@1.8.3/underscore-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>
<script src="emulator/js/slack.js"></script>
<script src="emulator/js/canvas.js"></script>

</body>
</html>
