<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intwixt | AI-enabled Slack Workflows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Run AI-enabled workflows directly in Slack"/>
    <meta name="keywords" content="BPM, Slack, Workflow, Business Process"/>
    <meta name="author" content="info@intwixt.com"/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Slack Emulator styles  -->
    <link rel="stylesheet" href="emulator/css/slack.css">

    <!-- Analytics -->
    <script>(function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-72994520-1', 'auto');
    ga('send', 'pageview');</script>
    <script>ga('create', 'UA-72994520-1', 'auto', {'name': 'custom'});</script>
</head>
<body>


<div id="page-wrap">


    <!-- ==========================================================================================================
                                                       HERO
         ========================================================================================================== -->

    <div id="fh5co-hero-wrapper">
        <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
            <a class="navbar-brand" href="/">Intwixt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-items-right ml-auto mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="$('#fh5co-differentiators').goTo();return false;">Differentiators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/solutions">Solutions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="$('#fh5co-call-to-action').goTo();return false;">Request a
                            Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-btn btn-md btn" href="https://my.intwixt.com/"><i class="fas fa-sign-in-alt"></i>
                            Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container fh5co-hero-inner">
            <h1 class="animated fadeIn wow" data-wow-delay="0.4s">AI-enabled Slack Workflows</h1>
            <p class="printout animated fadeIn wow" data-wow-delay="0.4s">
                Run <span class="special">sophisticated</span> business processes directly in Slack.
            </p>
            <p class="animated fadeIn wow typewriter" data-wow-delay="0.5s">Run
                <span class="typewrite" data-period="1000"
                      data-type='[ "sophisticated", "long-running", "multi-user", "cross-channel", "evolving", "AI-enhanced" ]'>
                <span class="wrap"></span>
              </span> business processes <span class="remainder">directly in Slack.</span>
            </p>
            <div class="btn-bar">
                <button class="btn btn-md features-btn-first animated fadeInLeft wow" data-wow-delay="0.95s"
                        onclick="$('#fh5co-features').goTo();return false;">Tell Me More
                </button>
            </div>
            <ul id="quotes" class="quotes">
                <li class="show">"Messaging apps are becoming <i>de facto</i> communication standards for the enterprise."<span>Uncle Ben</span></li>
                <li>"Messaging apps will replace email as the primary way people get work done."<span>Wolverine</span></li>
                <li>"Drive collaboration to and from Slack--where work gets done"<span>Robin</span></li>
                <li>"Leverage Slack channels for new revenue opportunities, while leveraging existing investments in BPM processes and rules."<span>Hellboy</span></li>
                <li>"Slack is the new platform for BPM spanning systems and people."<span>Professor X</span></li>
                <li>"A business process is a larger system of processes that incorporates multiple workflows, automation tools and human capital to optimize them all."<span>Professor X</span></li>
            </ul>

            <div class="fh5co-hero-smartphone animated fadeInRight wow" data-wow-delay="1s">

                <img class="smartphone" src="img/iphone-2.png" alt="Slack-enabled business processes">

                <div class="greeking-simulator">
                    <div class="greeking-scroller">

                        <p class="greek-box">
                            <img class="connector" src="https://my.intwixt.com/stars/Box.1/image_96">
                            <span class="greek">This is a long paragraph or a sentence which should be as long as possible while containing as many chaas possible while containing as many cha</span>
                            <br>
                            <span class="greek action success">&nbsp;</span>
                            <span class="greek action fail">&nbsp;</span>
                        </p> <!-- greek-box -->

                        <p class="greek-box">
                            <span class="greek">This is a long paragraph or a sentence which should be as long as possible while containing as many chaas possible while containing as many cha</span>
                        </p> <!-- greek-box -->

                        <div class="greek-box">
                            <p class="greek">
                                This is a long paragraph or a sentence which should be as long as possible while
                                containing as many characters as possible to prevent the dark lords of modax from rising
                                to power in the southern realms where the god-kings dwell in their ancient tombs that
                                the common man avoids and if they pass the black crypts of the living dead, they are
                                quick to ward away the foul evil of the destined rulers of the universe.
                            </p>
                        </div> <!-- greek-box -->

                        <div class="greek-box">
                            <p>
                                <span class="greek">This is a long paragraph or a sentence which should be as long as possible while containing as many characters as possible to prevent the dark lords of modax from rising to power in the southern realms where.</span>
                            </p>
                            <p>
                                <span class="greek">This is a long paragraph or a sentence which should be as long as possible while containing as many characters as possible to prevent the dark lords of modax from rising to power in the southern realms where.</span>
                            </p>
                        </div> <!-- greek-box -->


                    </div> <!-- greeking-scroller -->
                </div> <!-- greeking-simulator -->
            </div> <!-- fh5co-hero-smartphone -->


        </div> <!-- fh5co-hero-inner -->
    </div> <!-- first section wrapper -->


    <!-- ==========================================================================================================
                                                     DIFFERENTIATORS
         ========================================================================================================== -->

    <div id="fh5co-differentiators" class="fh5co-advantages-outer">
        <div class="container">
            <h1 class="second-title">Intwixt delivers the Next Generation Workflow and Business Process Innovation</h1>

            <div class="row fh5co-advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">
                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/multi_user.png" alt="Multi-user">
                    <h2 class="grid-title">Conversational</h2>
                    <p class="grid-desc">Conversational means maintaining the context of the conversation and the ability to redirect based on past interaction across systems, people, and time.
We enable more than just task management. Our workflows and business processes are conversational and able to interact with systems and people through natural language processing. 
Our approach is based on a conversation model that enables autonomous, distributed BPM (Business Process Management) modules to integrate and collaborate.
</p>
                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/ai_enabled.png" alt="Long-running">
                    <h2 class="grid-title">Cognitive</h2>
                    <p class="grid-desc">Cognitive computing uses artificial intelligence(AI) technologies to simulate human thought processes and conversations.
Leveraging AI to transform workflows and business processes is an essential part of the Digital Transformation.   Our cognitive workflows and business processes are using AI to sense, respond, predict, and learn, and further automate business process execution.
This allows to go beyond rule-based workflows and business processes, making operations more fluid and flexible.
                    </p>
                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/long_running.png" alt="AI-enabled">
                    <h2 class="grid-title">Stateful</h2>
                    <p class="grid-desc">In a stateless system, you are interacting with a limited system and a simple workflow task.  Stateless interactions fail to support the essentially multi-step character of conversational business interactions and processes. A conversation in form of a business process spans systems , people, and time. It therefore needs to be stateful to perform efficiently.
Our workflows and business processes are self-aware of their state and can maintain a conversation across systems, people, and time.
</p>
                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/slack_centric.png" alt="Slack-centric">
                    <h2 class="grid-title">Model-driven</h2>
                    <p class="grid-desc">Our platform is  model-based and designed for business users. It allows to manage software complexity, improve quality, and reduce development cost in a high-productivity application Platform-as-a-Service environment.
Through declarative application construction in our highly scalable environment we can implement and integrate any workflow and business process.
.</p>
                </div>
            </div>

        </div>
    </div>




    <!-- ==========================================================================================================
                                 USE CASES / EXAMPLE DOMAIN SOLUTIONS
         ========================================================================================================== -->

    <div class="curved-bg-div wow animated fadeIn" data-wow-delay="0.15s"></div>
    <div id="fh5co-features" class="fh5co-features-outer">
        <div class="container">
            <h1>Your favorite apps, only better.</h1>
            <p>Deploy any business process directly within Slack, spanning apps, people, organizations, and time.</p>

            <div class="row fh5co-features-grid-columns">



     <!-- ==========================================================================================================
                              USE CASE 1:  BOX, MULTI-USER DOCUMENT APPROVAL
     ========================================================================================================== -->

                <div class="col-sm-8 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <div id="slack" class="slack" v-cloak>
                        <div class="sidebar">
                            <div class="workspace_selector">
                                {{workspace.title}} <span class="carat"><i class="fas fa-angle-down"></i></span>
                            </div>
                            <div class="active_user">
                                {{users[activeUserId].title}}
                            </div>
                            <div class="label">Channels</div>
                            <div v-for="(channel, channel_id) in channels"
                                 v-if="!channel.is_dm"
                                 v-on:click="setActiveChannel(channel.id)"
                                 v-bind:class="['channel', { active: activeChannelId === channel.id }, { private: channel.private }]"
                                 v-bind:key="channel.id">
                                {{channel.title}}
                            </div>
                            <div class="label">Apps</div>
                            <div v-for="(channel, channel_id) in channels"
                                 v-if="channel.is_dm"
                                 v-on:click="setActiveChannel(channel.id)"
                                 v-bind:class="['channel', 'app', { active: activeChannelId === channel.id }]"
                                 v-bind:key="channel.id">
                                {{channel.title}}
                            </div>
                        </div>
                        <div class="main">
                            <div class="info">
                                <label>{{channels[activeChannelId].title}}</label>
                                <div>
                                    <span class="star"><i class="far fa-star"></i></span>
                                    <span class="members"><i class="fas fa-user"></i> {{channels[activeChannelId].members}}</span>
                                    <span class="pins"><i class="fas fa-thumbtack"></i> {{channels[activeChannelId].pins}}</span>
                                    <span class="more"><i class="fas fa-ellipsis-v"></i></span>
                                </div>
                            </div>
                            <div class="messages">
                                <div v-for="(message, message_id) in channels[activeChannelId].messages"
                                     class="message"
                                     v-bind:key="message.id">
                                    <img class="avatar" :src="'/img/avatars/' + users[message.author].avatar">
                                    <div class="data">
                                        <div class="metadata">
                                            <span class="author">{{users[message.author].title}}</span> <span class="timestamp">{{message.timestamp}}</span>
                                        </div>
                                        <div class="text" v-html="message.text"></div>
                                        <p v-if="message.actions" class="actions">
                                            <button v-for="(action, action_id) in message.actions"
                                                    v-bind:key="action.id"
                                                    v-on:click="act(channels[activeChannelId], message, action)"
                                                    :class='action.style'>{{action.title}}</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="input">
                                <i class="fas fa-paperclip"></i>
                                <input type="text"
                                       v-model="input"
                                       :placeholder="'Message ' + channels[activeChannelId].title"
                                       v-on:keyup.enter="send_message">
                            </div>
                        </div>
                        <div class="overlay">

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 in-order-2 sm-4-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1>Document Approval</h1>
                    <p>An experienced and disciplined approach to document management is essential. Reviewing business, legal, and technical documents in a more structured, process-driven manner from within Slack needs to be conversational, stateful, transparent and fast. </p>
                    <span class="circle circle-first active"><i class="fas fa-info-circle fa-3x"></i></span>
                    <span class="circle circle-middle"><img src="https://my.intwixt.com/stars/DynamoDB.1/image_96"></span>
                    <span class="circle circle-last"><img src="https://my.intwixt.com/stars/Slack.1/image_96"></span>
                </div>







                <div style="margin-top:200px;" class="row fh5co-features-grid-columns">
                    <div class="col-sm-4 in-order-3 sm-4-content wow animated fadeInLeft" data-wow-delay="0.22s">
                        <h1>Customer Relationships</h1>
                        <p> Opportunity management can be enhanced across the enterprise while leveraging Slack
                            collaboration capabilities; information, claiming and approvals on sales leads or
                            opportunities, along with other supporting information, can be directly managed in
                            Slack. </p>
                        <span class="circle circle-first"><img style="width:32px;" src="https://my.intwixt.com/stars/HubSpot.1/image_96"></span>
                        <span class="circle circle-middle"><i class="far fa-star"></i></span>
                        <span class="circle circle-last"><i class="far fa-thumbs-up"></i></span>
                    </div>

                    <div class="col-sm-8 in-order-4 wow animated fadeInRight" data-wow-delay="0.22s">
                        <img class="img-float-right" src="img/smartphone-2.png" alt="smartphone-2">
                    </div>
                </div>

                <div class="col-sm-8 in-order-5 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <div class="col-sm-image-container">
                        <img class="img-float-left" src="img/smartphone-2.png" alt="smartphone-3">
                    </div>
                </div>

                <div class="col-sm-4 in-order-6 sm-4-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1>Employee Onboarding</h1>
                    <p>Employee onboarding process is a key to success for your organization’s new hires. The entire process spans across many systems, people and time. Starting with 
                    proper permission handling for access rights to signing additional paperwork to purchasing hardware and software licenses, including 
                    a welcome email to the team. </p>
                    <span class="circle circle-first">95%</span>
                    <span class="circle circle-middle"><i class="fas fa-forward"></i></span>
                    <span class="circle circle-last"><i class="fab fa-github"></i></span>
                </div>

            </div> <!-- row -->


        </div>
    </div>



    <!-- ==========================================================================================================
                                                      SLIDER
         ========================================================================================================== -->

    <div class="fh5co-slider-outer wow fadeIn" data-wow-delay="0.36s">

        <h1 class="wow animated fadeIn" style="margin:40px 0;" data-wow-delay="0.36s">‘Centralized tools, automated workflows, 
            and reduced context switching between applications result in more products and services delivered on time.’[IDC Research]</h1>

        <div class="row fh5co-advantages-grid-columns" style="text-align:center;">
            <div class="col-sm-3 wow animated fadeInLeft" data-wow-delay="0.50s" style="margin-top:30px;">
                <img class="grid-image icon-filter" src="img/multi_user.png" alt="Multi-user" style="width:50px;">
                <h4 class="grid-title">Efficiency</h4>
                <p class="grid-desc">Time to market</p>
            </div>

            <div class="col-sm-3 wow animated fadeInLeft" data-wow-delay="0.25s" style="margin-top:30px;">
                <img class="grid-image icon-filter" src="img/long_running.png" alt="Long-running" style="width:50px;">
                <h4 class="grid-title">Transparency</h4>
                <p class="grid-desc">Process-level insight</p>
            </div>

            <div class="col-sm-3 wow animated fadeInRight" data-wow-delay="0.25s" style="margin-top:30px;">
                <img class="grid-image icon-filter" src="img/ai_enabled.png" alt="AI-enabled" style="width:50px;">
                <h4 class="grid-title">Usability</h4>
                <p class="grid-desc">Unified Slack-based deployment</p>
            </div>

            <div class="col-sm-3 wow animated fadeInRight" data-wow-delay="0.50s" style="margin-top:30px;">
                <img class="grid-image icon-filter" src="img/slack_centric.png" alt="Slack-centric" style="width:50px;">
                <h4 class="grid-title">Openness</h4>
                <p class="grid-desc">Connect your API in seconds</p>
            </div>
        </div>
    </div>


    <!-- ==========================================================================================================
                                                      CUSTOMERS
         ========================================================================================================== -->

    <div id="fh5co-reviews" class="fh5co-reviews-outer">
        <h1>Our Partners / Customers</h1>
        <div class="container" style="text-align:center;">
            <section class="customer-logos slider">
                <div class="slide o5 animated fadeIn wow" data-wow-delay="0.5s"><a
                        href="https://regentstreetonline.com"><img src="img/logos/regent.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.15s"><a href="https://aito.ai"><img
                        src="img/logos/aito.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.25s"><a href="https://aws.amazon.com"><img
                        src="img/logos/aws_pn.png"></a></div>
                <div class="slide o5 x2 animated fadeIn wow" data-wow-delay="0.35s"><a
                        href="https://thecommunicationsstore.co.uk"><img src="img/logos/tcs.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.45s"><a href="http://uipath.com"><img
                        src="img/logos/uipath.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.55s"><a
                        href="https://www.automationanywhere.com/"><img src="img/logos/aa.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.65s"><a
                        href="https://intwixtqa.slack.com/apps/AFZ68L1NC-cofounder-eq"><img
                        src="img/logos/cfeq.png"></a></div>
            </section>
        </div>
    </div>


    <!-- ==========================================================================================================
                                                 BOTTOM
    ========================================================================================================== -->

    <div id="fh5co-call-to-action" class="fh5co-bottom-outer">
        <div class="overlay">
            <div class="container fh5co-bottom-inner">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Want to learn more?</h1>
                        <p>Run sophisticated business processes backed by our AI-enabled process engine.</p>
                        <button class="btn btn-md features-btn-more animated fadeIn wow" data-wow-delay="0.25s"
                                onclick="$('#fh5co-differentiators').goTo();return false;">Contact Us
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ==========================================================================================================
                                               SECTION 7 - SUB FOOTER
    ========================================================================================================== -->

    <footer class="footer-outer">
        <div class="container footer-inner">

            <div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
                <div>
                    <nav class="footer-nav">
                        <ul class="nav-items">
                            <a href="#" onclick="$('#fh5co-hero-wrapper').goTo();return false;">
                                <li><i class="fas fa-arrow-up"></i> TOP</li>
                            </a>
                            <a href="#" onclick="$('#fh5co-features').goTo();return false;">
                                <li>Features</li>
                            </a>
                            <a href="/videos">
                                <li>Videos</li>
                            </a>
                            <a href="/faq">
                                <li>FAQ</li>
                            </a>
                            <a href="https://intwixt.readme.io">
                                <li>User Guide</li>
                            </a>
                            <a href="/blog">
                                <li>Blog</li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>

            <span class="border-bottom-footer"></span>

            <p class="copyright">&copy; 2019 Intwixt, Inc. All rights reserved.</p>

        </div>
    </footer>


</div> <!-- main page wrapper -->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>
<script src="emulator/js/slack.js"></script>

</body>
</html>
