<!DOCTYPE html>
<!-- copyright 2019 Intwixt, Inc. All rights reserved. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intwixt | Run AI-enabled workflows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Run AI-enabled workflows directly in Slack"/>
    <meta name="keywords" content="BPM, Slack, Workflow, Business Process"/>
    <meta name="author" content="info@intwixt.com"/>

    <!-- social integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Orbit.css -->
    <link rel="stylesheet" href="css/orbit.css">
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Slack Emulator styles  -->
    <link rel="stylesheet" href="emulator/css/slack.css">

    <!-- Analytics -->
    <script>(function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-72994520-1', 'auto');
    ga('send', 'pageview');</script>
    <script>ga('create', 'UA-72994520-1', 'auto', {'name': 'custom'});</script>
</head>
<body id="home">

<div id="page-wrap">


    <!-- ==========================================================================================================
                                                       HERO
         ========================================================================================================== -->

    <div id="fh5co-hero-wrapper">
        <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
            <a class="navbar-brand" href="/">Intwixt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-items-right ml-auto mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#solutions" onclick="$('#solutions').goTo('solutions');">Solutions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="$('#fh5co-call-to-action').goTo();return false;">Request a
                            Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-btn btn-md btn" href="https://my.intwixt.com/"><i class="fas fa-sign-in-alt"></i>
                            Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container fh5co-hero-inner">
            <h1 class="animated fadeIn wow" data-wow-delay="0.4s">Run AI-Enabled Workflows On Slack</h1>
            <p class="printout animated fadeIn wow" data-wow-delay="0.4s">
                Run <span class="special">conversational</span> business processes on your favorite messaging app.
            </p>
            <div class="btn-bar">
                <button class="btn btn-md features-btn-first animated fadeInLeft wow" data-wow-delay="0.95s"
                        onclick="$('#solutions').goTo('solutions');return false;">Tell Me More
                </button>
            </div>
            <ul class="quotes">
                <li>"By 2025, channels will replace email as the primary means of communication. Slack will be leveraged
                    for new revenue opportunities and efficiency gains, while leveraging existing investments in
                    business processes and rules."
                    <span>- VP of Product, Slack -</span>
                </li>
                <li>"The distinction between workflow and business process becomes very important when trying to achieve
                    a specific goal - like improving efficiency."
                    <span>- Founder, TallyFly -</span>
                </li>
                 <li>"Slack has the potential to morph from being solely a workchat and collaboration
                     tool to being a new type of business process management platform."
                    <span>- Mark Boyd, The New Stack -</span>
                </li>
                <li>"AI-powered solutions for business process automation orchestrate work to produce business outcomes
                    that go far beyond typical process performance results."
                    <span> - BPMOnline, AI for BPM - </span>
                </li>
                <li>"AI-models make predictions around business processes to accelerate transformation."
                    <span>- Gartner -</span>
                </li>
                <li>"Business process management involves designing
                    processes, executing them across systems and people, managing tasks and workflows, and optimizing it all
                    continually."
                    <span>- Founder, TallyFly -</span>
                </li>
                <li>"Model-driven development allows users to program on a higher abstraction level and captures domain
                    knowledge and bridges the gap between business and IT."
                    <span>- The Enterprise Architect, Building an Agile Enterprise -</span>
                </li>
                <li>"Slack is where and how work gets done. Messaging apps like Slack are becoming the de-facto standard
                    for the enterprise."
                    <span>- VP of Product, Slack -</span>
                </li>
                <div class="selectors">
                    <span class="selector"></span>
                    <span class="selector"></span>
                    <span class="selector"></span>
                    <span class="selector"></span>
                    <span class="selector"></span>
                    <span class="selector"></span>
                    <span class="selector"></span>
                    <span class="selector"></span>
                </div>
            </ul>


            <div class="fh5co-hero-smartphone animated fadeInRight wow" data-wow-delay="1s">
                <div class="shadow">
                    <img class="smartphone" src="img/iphone-4.png" alt="Slack-enabled business processes">
                </div>

                <div class="orbit animated fadeIn wow" data-wow-delay="2s">
                    <ul class="orbit-wrap">
                        <li class="orbit-center icon-filter"></li>
                        <li>
                            <ul class="ring ring-0">
                                <li><i class="orbit-icon user1"></i></li>
                                <li><i class="orbit-icon luis"></i></li>
                                <li><i class="orbit-icon sqs"></i></li>
                                <li><i class="orbit-icon uipath"></i></li>
                                <li><i class="orbit-icon messenger"></i></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="ring ring-1">
                                <li><i class="orbit-icon user2"></i></li>
                                <li><i class="orbit-icon maps"></i></li>
                                <li><i class="orbit-icon gcf"></i></li>
                                <li><i class="orbit-icon firebase"></i></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="ring ring-2">
                                <li><i class="orbit-icon intercom"></i></li>
                                <li><i class="orbit-icon slack"></i></li>
                                <li><i class="orbit-icon dialogflow"></i></li>
                                <li><i class="orbit-icon hubspot"></i></li>
                                <li><i class="orbit-icon user3"></i></li>
                                <li><i class="orbit-icon cloudwatch"></i></li>
                                <li><i class="orbit-icon aito"></i></li>
                                <li><i class="orbit-icon lambda"></i></li>
                                <li><i class="orbit-icon twilio"></i></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="ring ring-3">
                                <li><i class="orbit-icon alexa"></i></li>
                                <li><i class="orbit-icon s3"></i></li>
                                <li><i class="orbit-icon stepfunctions"></i></li>
                                <li><i class="orbit-icon user4"></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="phone_canvas_container">
                    <my-solution-emulator id="playa" class="mobile" v-cloak></my-solution-emulator>
                    <!-- canvas id="viewport1" width="406" height="650"></canvas -->
                </div>

                <div class="intwixt-cog"></div>

            </div> <!-- fh5co-hero-smartphone -->


        </div> <!-- fh5co-hero-inner -->
    </div> <!-- first section wrapper -->


    <div class="wave icon-filter"></div>

    <!-- ==========================================================================================================
                                                     DIFFERENTIATORS
         ========================================================================================================== -->

    <div id="fh5co-differentiators" class="fh5co-advantages-outer">
        <div class="container">
            <h1 class="second-title">Intelligent Business Process Automation</h1>
            <div class="second-tagline">with Intwixt's <b>Enterprise Conversation Platform</b></div>

            <div class="row fh5co-advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">
                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/multi_user.png" alt="Multi-user">
                    <h2 class="grid-title">Conversational</h2>


                    <input type="checkbox" class="read-more-state" id="post-1"/>
                    <p class="grid-desc read-more-wrap">Our conversation platform combines people and
                        systems in unified workflows, delivering advanced business process capabilities
                        like timeouts and exception handling. People can be unpredictable, sending unanticipated
                        phrases (or nothing at all). We react and learn to keep the process flowing.
                        <span class="read-more-target">
                            We enable more than just task management and workflow integration. Our ability to turn any
                            messaging app into a business process engine means no more switching between
                            applications. Slack, Alexa, Messenger and more...we keep you productive, all in one place.
                        </span>
                        <label for="post-1" class="read-more-trigger"></label>
                    </p>

                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/ai_enabled.png" alt="Long-running">
                    <h2 class="grid-title">Cognitive</h2>

                    <input type="checkbox" class="read-more-state" id="post-2"/>
                    <p class="grid-desc read-more-wrap">Cognitive computing uses artificial intelligence (AI)
                        to simulate advanced human decision-making capabilities. We seamlessly integrate AI
                        to sense, respond, predict, and learn, and further refine business process automation.
                        <span class="read-more-target">
                            AI enhances our rule-based workflows and business processes, making end-user interactions more
                            fluid and flexible. The insights don't replace human interaction; they make it better.
                            By taking previous experiences into consideration, AI  ultimately improves and
                            accelerates process execution. Leveraging AI to transform
                            business processes is an essential part of effective Digital Transformation.
                        </span>
                        <label for="post-2" class="read-more-trigger"></label>
                    </p>

                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/long_running.png" alt="AI-enabled">
                    <h2 class="grid-title">Stateful</h2>

                    <input type="checkbox" class="read-more-state" id="post-3"/>
                    <p class="grid-desc read-more-wrap">Long-running business processes span systems,
                        people, and <b>time</b>, requiring state in order to orchestrate and perform efficiently. While
                        stateless systems offer limited and simple workflows, statefulness opens up advanced interactions
                        that reflect the complex interactions between people and systems they use.
                        <span class="read-more-target">
                        Stateless interactions fail to support the essentially multi-step character of conversational
                        business interactions and processes. Our workflows and business processes are self-aware of
                        their state. The distinction between stateless and stateful becomes
                            very important if you try to achieve a certain goal, e.g. improving efficiency.</span>
                        <label for="post-3" class="read-more-trigger"></label>
                    </p>
                </div>

                <div class="col-sm-6 differentiator">
                    <img class="grid-image icon-filter" src="img/model.png" alt="Model-driven">
                    <h2 class="grid-title">Model-driven</h2>

                    <input type="checkbox" class="read-more-state" id="post-4"/>
                    <p class="grid-desc read-more-wrap">Intwixt's model-based platform is sophisticated enough to run
                        mission critical business processes, yet intuitive enough for business users to grasp and
                        extend. Manage software complexity, improve quality, and reduce development cost in a
                        high-productivity Platform-as-a-Service environment.
                        <span class="read-more-target">
                            Our declarative application construction and highly-scalable environment integrate and enhance
                            your workflows and business processes.
                        </span>
                        <label for="post-4" class="read-more-trigger"></label>
                    </p>
                </div>
            </div>

        </div>
    </div>




    <!-- ==========================================================================================================
                                 USE CASES / EXAMPLE DOMAIN SOLUTIONS
         ========================================================================================================== -->

    <div id="solutions" class="examples-outer">
        <div class="container">
            <h1 class="second-title" style="padding-top:40px;margin-top:60px;margin-bottom: 80px;">Unify your Business Processes in Slack</h1>


            <!-- ==========================================================================================================
                                    USE CASE 1:  BOX, MULTI-USER DOCUMENT APPROVAL
           ========================================================================================================== -->

            <div id="documentapproval" style="margin-top:40px;" class="row examples-grid-columns">
                <div class="col-sm-8 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <h1 class="small-factor">Document Approval</h1>
                    <div class="solution-emulator">
                        <my-solution-emulator id="unboxed" v-cloak></my-solution-emulator>
                    </div>
                </div>
                <div class="col-sm-4 in-order-2 sm-4-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1 class="large-factor">Document Approval</h1>
                    <p> Deliver document workflows that move beyond simple approvals. Handle rejections, exceptions,
                        timeouts and more&mdash;all with unmatched transparency.
                        As the document moves through workflow all users are updated in real time
                        in Slack, while Box versioning, task assignment, and
                        access controls provide secure and auditable document access.</p>
                    <div class="circles">
                        <span class="circle" data-name="(Ben)" title="Submitter"><img class="avatar" src="/img/avatars/u1.png"></span>
                        <span class="circle" title="Box"><img src="https://my.intwixt.com/stars/Box.1/image_96"></span>
                        <span class="circle" data-name="(Sandy)" title="Reviewer 1"><img class="avatar" src="/img/avatars/u2.png"></span>
                        <span class="circle" data-name="(Radhika)" title="Reviewer 2"><img class="avatar" src="/img/avatars/u3.png"></span>
                    </div>
                </div>
            </div>



            <!-- ==========================================================================================================
                                 USE CASE 2:  HUBSPOT, AI-ENABLED OPTIMIZATIONS AND MULTI-USER FLOWS
           ========================================================================================================== -->

            <div class="line-bg-div container"></div>

            <div id="customerjourney" class="row examples-grid-columns">
                <div class="col-sm-4 in-order-3 sm-4-content wow animated fadeInLeft" data-wow-delay="0.22s">
                    <h1 class="large-factor">Customer Journey</h1>
                    <p> Deliver <b>AI-enabled</b> customer journeys that keep your sales teams  productive and your sales
                        managers informed. Merge customer information directly in Slack from CRM systems like HubSpot and
                        Intercom. With <b>machine learning</b> baked-in, gain insight into people and processes you might
                        otherwise overlook.</p>
                    <div class="circles">
                        <span class="circle" title="HubSpot"><img src="/img/connectors/HubSpot_96.png"></span>
                        <span class="circle" data-name="(Sandy)" title="Sales Rep"><img class="avatar" src="/img/avatars/u2.png"></span>
                        <span class="circle" data-name="(Ben)" title="Sales Mgr"><img class="avatar" src="/img/avatars/u1.png"></span>
                        <!-- span class="circle" title="Twilio"><img src="https://my.intwixt.com/stars/Twilio.1/image_96"></span -->
                        <span class="circle" title="Intercom"><img src="/img/connectors/Intercom_96.png"></span>
                        <span class="circle" data-name="(AI / ML)" title="Aito.ai"><img src="https://my.intwixt.com/stars/Aito.1/image_96"></span>
                    </div>
                </div>
                <div class="col-sm-8 in-order-4 wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1 class="small-factor">Customer Journey</h1>
                    <div class="solution-emulator">
                        <my-solution-emulator id="hubble" class="right-aligned" v-cloak></my-solution-emulator>
                    </div>
                </div>
            </div>


            <!-- ==========================================================================================================
                                 USE CASE 3:  EMPLOYEE ONBOARDING
           ========================================================================================================== -->

            <div class="line-bg-div container"></div>

            <div class="row examples-grid-columns">
                <div class="col-sm-8 in-order-5 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <h1 class="small-factor">More Than Just Slack</h1>
                    <div class="solution-emulator">
                        <my-solution-emulator id="omni" v-cloak></my-solution-emulator>
                    </div>
                </div>
                <div class="col-sm-4 in-order-3 sm-4-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1 class="large-factor">More than Just Slack</h1>
                    <p>Slack's expansive APIs and rich interactive messages make it our favorite choice
                        for deploying conversational apps. But nothing is more important than reaching your audience.
                        Deploy multi-channel solutions on the channels your teams already know and use, including
                        Alexa, SMS, Messenger and more.</p>
                    <div class="circles">
                        <span class="circle" title="HubSpot"><img src="/img/connectors/HubSpot_96.png"></span>
                        <span class="circle" data-name="(Ben)" title="Sales Mgr"><img class="avatar" src="/img/avatars/u1.png"></span>
                        <span class="circle" data-name="(Sandy)" title="Sales Rep"><img class="avatar" src="/img/avatars/u2.png"></span>
                        <span class="circle" data-name="(SMS)" title="Twilio"><img src="https://my.intwixt.com/stars/Twilio.1/image_96"></span>
                        <span class="circle" title="Slack"><img src="https://my.intwixt.com/stars/Slack.1/image_96"></span>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end examples section -->


    <!-- ==========================================================================================================
                                                      LOGOS
         ========================================================================================================== -->

    <div id="logos" class="logos-outer">
        <h1 class="second-title">Some of Our Partners / Customers</h1>
        <div class="container">
            <section class="customer-logos slider">
                <div class="slide o5 animated fadeIn wow" data-wow-delay="0.5s"><a
                        href="https://regentstreetonline.com"><img src="img/logos/regent.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.15s"><a href="https://aito.ai"><img
                        src="img/logos/aito.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.25s"><a href="https://aws.amazon.com"><img
                        src="img/logos/aws_pn.png"></a></div>
                <div class="slide o5 x2 animated fadeIn wow" data-wow-delay="0.35s"><a
                        href="https://thecommunicationsstore.co.uk"><img src="img/logos/tcs.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.45s"><a href="http://uipath.com"><img
                        src="img/logos/uipath.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.55s"><a
                        href="https://www.automationanywhere.com/"><img src="img/logos/aa.png"></a></div>
                <div class="slide animated fadeIn wow" data-wow-delay="0.65s"><a
                        href="https://intwixtqa.slack.com/apps/AFZ68L1NC-cofounder-eq"><img
                        src="img/logos/cfeq.png"></a></div>
            </section>
        </div>
    </div>


    <!-- ==========================================================================================================
                                                 CALL TO ACTION
    ========================================================================================================== -->

    <div id="fh5co-call-to-action" class="fh5co-bottom-outer">
        <div class="overlay">
            <div class="container fh5co-bottom-inner">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-7 call-to-action">
                        <h1>Want to learn more?</h1>
                        <p>Run conversational business processes backed by our AI-enabled process engine.</p>
                        <div class="links">
                            <div>
                                <i class="far fa-envelope"></i> <a href="mailto:contact@intwixt.com">contact@intwixt.com</a>
                            </div>
                            <div>
                                <i class="fas fa-phone"></i> <a href="tel:650-603-0068">650-603-0068</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-5">
                        <div class="benefits">
                            <div class="rotate anim1">
                                <div class="counterrotate">
                                    <div class="inner">
                                        <img class="icon-filter-white" src="img/benefits/efficiency.png" alt="Efficient">
                                        <div>Efficiency</div>
                                    </div>
                                </div>
                            </div>
                            <div class="rotate anim2">
                                <div class="counterrotate">
                                    <div class="inner">
                                        <img class="icon-filter-white" src="img/benefits/transparency.png" alt="Transparent">
                                        <div>Transparency</div>
                                    </div>
                                </div>
                            </div>
                            <div class="rotate anim3">
                                <div class="counterrotate">
                                    <div class="inner">
                                        <img class="icon-filter-white" src="img/benefits/usability.png" alt="Usable">
                                        <div>Usability</div>
                                    </div>
                                </div>
                            </div>
                            <div class="rotate anim4">
                                <div class="counterrotate">
                                    <div class="inner">
                                        <img class="icon-filter-white" src="img/benefits/extensibility.png" alt="Extensible">
                                        <div>Extensibility</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ==========================================================================================================
                                               SECTION 7 - SUB FOOTER
    ========================================================================================================== -->

    <footer class="footer-outer">
        <div class="container footer-inner">
            <div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
                <div>
                    <nav class="footer-nav">
                        <ul class="nav-items">
                            <a href="#home" onclick="$('#home').goTo('home');">
                                <li><i class="fas fa-arrow-up"></i> TOP</li>
                            </a>
                            <a href="/about">
                                <li>About</li>
                            </a>
                            <a href="https://intwixt.readme.io">
                                <li>User Guide</li>
                            </a>
                            <a href="https://intwixt.readme.io/discuss">
                                <li>Forums</li>
                            </a>
                            <a href="/blog">
                                <li>Blog</li>
                            </a>
                            <a href="https://www.linkedin.com/company/intwixt-inc-/">
                                <li><i class="fab fa-linkedin"></i></li>
                            </a>
                            <a href="https://www.twitter.com/intwixt">
                                <li><i class="fab fa-twitter"></i></li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>
            <span class="border-bottom-footer"></span>

            <div>
                <nav class="footer-nav">
                    <ul class="nav-items secondary-nav wow fadeIn animated" data-wow-delay="0.66s">
                        <a href="/privacy">
                            <li>Privacy Policy</li>
                        </a>
                        <a href="/terms">
                            <li>Terms and Conditions</li>
                        </a>
                    </ul>
                </nav>
            </div>

            <p class="copyright">&copy; 2019 Intwixt, Inc. All rights reserved.</p>
        </div>
    </footer>


</div> <!-- main page wrapper end content -->

<script type="text/x-template" id="solution-emulator">
    <div class="emulator">

        <div v-bind:class="['stepper', { active: story_board.state === 'playing' && story_board.step_next}]"
             title="Show next step"
             v-on:click="play(false, true);">
            <i class="fas fa-play fa-3x"></i>
        </div>

        <!-- runs the emulators -->
        <div class="runner">

            <!-- message overlay to show when in 'idling' state -->
            <div v-bind:class="['alert', { active: alert}]">
                <div>{{alert}}</div>
            </div>

            <!-- overlay to show when in 'idling' state -->
            <div v-bind:class="['story_overlay', { active: story_board.state === 'idling'}]">
                <div class="play">
                    <!-- div v-on:click="play_all()" title="Play all" class="button all">
                        <i class="fas fa-step-forward fa-6x"></i>
                        <div class="label">Play Example</div>
                    </div -->
                    <div v-on:click="step_through()" title="Step through at my own pace" class="button step">
                        <i class="fas fa-play fa-6x"></i>
                        <div class="label">Show Me</div>
                    </div>
                </div>
            </div>

            <!-- overlay to show when in 'played' state (this is the call-to-action) -->
            <div v-bind:class="[{ active: story_board.state === 'played' }]"
                 class="story_overlay cta">
                <div class="blurb">
                    Multi-role. &nbsp; Multi-system. &nbsp; Unified in Slack.
                </div>
                <div class="options">
                    <div class="option try" v-if="story_board.cta === 1 || story_board.cta === 3 || story_board.cta === 5 || story_board.cta === 7">
                        <label>Try the Slack App</label>
                        <div class="action">
                            <a class="btn" target="_slack" href="https://slack.com/oauth/authorize?client_id=397209179749.672831744468&scope=bot%20commands%20chat%3Awrite%3Abot%20users.profile%3Aread%20users%3Aread%20users%3Aread.email&state=U2FsdGVkX19TyXJ8x9GKFTM9%2F8WAAjeQS9EJxCUpYeXCabwD%2FCl1fZXcp50hIdnvGJee1PS8z4ZuT6Tb2vEUOaWhWHKBLj2vNZ6JksffsFcZxH7L2B%2BWhazh1LrkYWOupcRjz73Q12HqOq1wO6H6CoPQQooowBCQw65seFuvdJU%3D&redirect_uri=https%3A%2F%2Fcon1.intwixt.com%3A3006%2Fslack%2Finstall%2Fapp%2Foauth2callback">Add to Slack</a>
                        </div>
                    </div>
                    <div class="option own" v-if="story_board.cta === 2 || story_board.cta === 3 || story_board.cta === 5 || story_board.cta === 6 || story_board.cta === 7">
                        <label>Own the Slack App*</label>
                        <div class="action">
                            <button class="btn" onclick="alert('Please contact us to get started. We will copy the source files to your Intwixt account and give you tips for extending to make it your own..');">Get Started</button>
                        </div>
                    </div>
                    <div class="option call" v-if="story_board.cta === 4 || story_board.cta === 5 || story_board.cta === 6 || story_board.cta === 7">
                        <label>Contact us</label>
                        <div class="links action">
                            <div>
                                <a href="mailto:contact@intwixt.com"><i class="far fa-envelope"></i> contact@intwixt.com</a>
                            </div>
                            <div>
                                <a href="tel:650-603-0068"><i class="fas fa-phone"></i> 650-603-0068</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footnote" v-if="story_board.cta === 2 || story_board.cta === 3 || story_board.cta === 5 || story_board.cta === 6 || story_board.cta === 7">*Sign up for a free Intwixt account. We'll copy the source files and give you tips
                    to
                    get started.
                </div>
            </div>

            <div v-for="(panel, panel_id) in panels">

                <!-- image viewer; common container that renders static images when storytelling -->
                <div :id="panel_id"
                     class="imager panel"
                     v-bind:class="[{ active: activePanelId === panel_id },{ hcenter: panel.halign === 'center' },{ vcenter: panel.valign === 'center' }]"
                     v-if="panel.type === 'image'">
                    <img class="avatar"
                         :src="panel.src">
                </div>

                <!-- intwixt emulator; common container that renders the graph on the canvas -->
                <div :id="panel_id"
                     class="intwixter panel"
                     v-bind:class="[{ active: activePanelId === panel_id }]"
                     v-if="panel.type === 'intwixt'">
                    <div class="head">
                        <label>Intwixt Designer</label>
                        <img src="https://my.intwixt.com/static1/css/img/logos/light_300.png">
                    </div>
                    <div class="body" :id="'viewport_' + id + '_' + panel_id">
                        <canvas :id="'viewport_runner_' + id + '_' + panel_id" width="666" height="500"></canvas>
                        <div class="plus"><span>+</span></div>
                    </div>
                </div>

                <!-- slack emulator; each instance represents a slack user and their workspace -->
                <div :id="panel_id"
                     v-if="panel.type === 'slack'"
                     v-bind:class="['slacker', 'panel', { active: activePanelId === panel_id }]">
                    <div class="slack">
                        <div class="sidebar">
                            <div class="workspace_selector">
                                {{panel.workspace.title}} <span class="carat"><i
                                    class="fas fa-angle-down"></i></span>
                            </div>
                            <div class="active_user">
                                {{users[panel.activeUserId].title}}
                            </div>
                            <div class="label">Channels</div>
                            <div v-for="(channel, channel_id) in panel.channels"
                                 v-if="!channel.is_dm"
                                 v-on:click="set_active_channel(panel_id, channel.id)"
                                 v-bind:class="['channel', { active: panel.activeChannelId === channel.id }, { private: channel.private }, { activating: channel.activating }]"
                                 v-bind:key="channel.id">
                                {{channel.title}}
                            </div>
                            <div class="label">Apps</div>
                            <div v-for="(channel, channel_id) in panel.channels"
                                 v-if="channel.is_dm"
                                 v-on:click="set_active_channel(panel_id, channel.id)"
                                 v-bind:class="['channel', 'app', { active: panel.activeChannelId === channel.id }, { activating: channel.activating }]"
                                 v-bind:key="channel.id">
                                {{channel.title}}
                            </div>
                        </div>
                        <div class="main" v-if="panel.channels[panel.activeChannelId]">
                            <div class="chrome">
                                <span class="signal"><i class="fas fa-signal"></i></span>
                                <span class="wifi"><i class="fas fa-wifi"></i></span>
                                <span class="time">3:27 PM</span>
                                <span class="battery"><small>75%</small>&nbsp;&nbsp;<i
                                        class="fas fa-battery-three-quarters"></i></span>
                            </div>
                            <div class="info">
                                <span class="icon"></span>
                                <label v-bind:class="[panel.channels[panel.activeChannelId].id, { app: panel.channels[panel.activeChannelId].is_dm }, { private: panel.channels[panel.activeChannelId].private && !panel.channels[panel.activeChannelId].is_dm }, { public: !panel.channels[panel.activeChannelId].private }]">{{panel.channels[panel.activeChannelId].title}}</label>
                                <div class="channel_profile">
                                    <span class="star"><i class="far fa-star"></i></span>
                                    <span class="members"><i class="fas fa-user"></i> {{panel.channels[panel.activeChannelId].members}}</span>
                                    <span class="pins"><i class="fas fa-thumbtack"></i> {{panel.channels[panel.activeChannelId].pins}}</span>
                                    <span class="more"><i class="fas fa-ellipsis-v"></i></span>
                                </div>
                            </div>
                            <div class="messages">
                                <div v-for="(message, message_id) in panel.channels[panel.activeChannelId].messages"
                                     v-bind:class="['message', { activating: message.activating }]"
                                     v-bind:key="message.id">
                                    <img class="avatar"
                                         :src="'/img/avatars/' + users[message.author].avatar">
                                    <div class="data">
                                        <div class="metadata">
                                            <span class="author">{{users[message.author].title}}</span>
                                            <span
                                                    class="timestamp">{{message.timestamp}}</span>
                                        </div>
                                        <div>
                                            <img class="icon" v-if="message.icon" :src="message.icon"
                                                 align="right">
                                            <div class="text" v-html="message.text"></div>
                                            <div v-if="message.file" class="file">
                                                <i class="far fa-file-alt file_icon"></i>
                                                {{message.file}}
                                            </div>
                                            <div v-if="message.fields" class="fields">
                                                <div v-for="field in message.fields"
                                                     v-html="field.title"
                                                     v-bind:class="['field',{ full_width: field.full_width }]">
                                                </div>
                                            </div>
                                            <div v-if="message.actions" class="actions">
                                                <button v-for="(action, action_id) in message.actions"
                                                        v-bind:key="action.id"
                                                        v-on:click="act(panel_id, panel.channels[panel.activeChannelId], message, action)"
                                                        v-bind:class="[action.style, { activating: action.activating }, { select: action.type == 'select' }]">
                                                    {{action.title}}
                                                    <i class="chevron fas fa-chevron-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input">
                                <i class="fas fa-paperclip"
                                   v-bind:class="[{ activating: panel.file.activating }]"
                                   v-on:click="show_file_prompt(panel_id)"></i>
                                <input type="text"
                                       v-model="panel.input"
                                       :placeholder="'Message ' + panel.channels[panel.activeChannelId].title"
                                       v-on:keyup.enter="send_message(panel_id)">
                            </div>
                        </div>
                    </div>
                    <div v-bind:class="['slack_overlay', { active: panel.file.active }]">
                        <div class="mask"></div>
                        <div class="file_upload">
                            <h3 class="file_title">Upload a file</h3>
                            <i class="fas fa-times file_close"
                               v-on:click="cancel_file_upload(panel_id)"></i>
                            <textarea class="file_message"
                                      v-model="panel.file.message"
                                      placeholder="Add a message about the file"></textarea>
                            <div class="file_wrapper">
                                <span class="file">
                                    <i class="far fa-file-alt file_icon"></i>
                                    <label class="file_name">{{panel.file.filename}}</label>
                                </span>
                            </div>
                            <button class="file_button btn"
                                    v-bind:class="[{ activating: panel.file.submitting }]"
                                    v-on:click="before_file_upload(panel_id, panel.file.filename, panel.file.message)">
                                Upload
                            </button>
                        </div>
                    </div>
                    <div v-bind:class="['slack_overlay', { active: panel.dialog.active }]">
                        <div class="mask"></div>
                        <div class="dialog">
                            <h3 class="dialog_title">{{panel.dialog.title}}</h3>
                            <i class="fas fa-times dialog_close"></i>
                            <textarea class="textarea"
                                      v-model="panel.dialog.value"
                                      :placeholder="panel.dialog.fields[panel.dialog.target_field].placeholder"></textarea>
                            <button class="cancel btn">Cancel</button>
                            <button class="submit btn"
                                    v-bind:class="[{ activating: panel.dialog.submitting }]"
                                    v-on:click="before_dialog_submit(panel_id, panel.dialog.action, panel.dialog.value)">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="annotation"
             v-bind:class="[{ active: annotation.user }]">
            <div class="triangle"></div>
            <img class="avatar"
                 v-if="annotation.user"
                 :src="'/img/avatars/' + users[annotation.user].avatar">
            <p class="text">
                <label class="role">{{annotation.role}}</label>
                <span v-html="annotation.text"></span>
            </p>
        </div>
    </div>
</script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.8.3/underscore-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/wow.min.js"></script>
<script src="emulator/stories/playa.js"></script>
<script src="emulator/stories/unboxed.js"></script>
<script src="emulator/stories/hubble.js"></script>
<script src="emulator/stories/omni.js"></script>
<script src="emulator/js/slack.js"></script>
<script src="emulator/js/canvas.js"></script>
<script src="js/main.js"></script>
<script>
  emulate("playa", "#playa", playa, {autoplay:true});
  emulate("unboxed", "#unboxed", unboxed);
  emulate("hubble", "#hubble", hubble);
  emulate("omni", "#omni", omni);
</script>
<script>
  window.intercomSettings = {
    app_id: "b17r060y"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/b17r060y';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
</body>
</html>
