<!DOCTYPE html>
<!-- copyright 2019 Intwixt, Inc. All rights reserved. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intwixt | Run AI-enabled workflows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Run AI-enabled workflows directly in Slack"/>
    <meta name="keywords" content="BPM, Slack, Workflow, Business Process"/>
    <meta name="author" content="info@intwixt.com"/>

    <!-- social integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Orbit.css -->
    <link rel="stylesheet" href="/css/orbit.css">
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Slack Emulator styles  -->
    <link rel="stylesheet" href="/emulator/css/slack.css">

    <!-- Analytics -->
    <script>(function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-72994520-1', 'auto');
    ga('send', 'pageview');</script>
    <script>ga('create', 'UA-72994520-1', 'auto', {'name': 'custom'});</script>
</head>
<body id="home">

<div id="page-wrap">


    <!-- ==========================================================================================================
                                                       HERO
         ========================================================================================================== -->

    <div id="fh5co-hero-wrapper" style="height:auto;margin-bottom:100px;">
        <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
            <a class="navbar-brand" href="/">Intwixt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
    </div> <!-- first section wrapper -->


    <!-- ==========================================================================================================
                                 USE CASE / EXAMPLE
         ========================================================================================================== -->

    <div id="solutions" class="examples-outer">
        <div class="container">

            <div style="margin-top:40px;min-height:800px;" class="row examples-grid-columns">
                <div class="col-sm-8 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
                    <h1 class="small-factor">Document Approval</h1>
                    <div class="solution-emulator interactive">
                        <my-solution-emulator  id="hubble" v-cloak></my-solution-emulator>
                    </div>
                </div>
                <div class="col-sm-4 in-order-2 sm-4-content wow animated fadeInRight" data-wow-delay="0.22s">
                    <h1 class="large-factor">Customer Journey</h1>
                    <p> Deliver <b>AI-enabled</b> customer journeys that keep your sales teams  productive and your sales
                        managers informed. Merge customer information directly in Slack from CRM systems like HubSpot and
                        Intercom. With <b>machine learning</b> baked-in, gain insight into people and processes you might
                        otherwise overlook.</p>
                    <div class="circles">
                        <span class="circle" title="HubSpot"><img src="/img/connectors/HubSpot_96.png"></span>
                        <span class="circle" title="Sales Mgr"><img class="avatar" src="/img/avatars/u1.png"></span>
                        <span class="circle" title="Twilio"><img src="https://my.intwixt.com/stars/Twilio.1/image_96"></span>
                        <span class="circle" title="Intercom"><img src="/img/connectors/Intercom_96.png"></span>
                        <span class="circle" title="AI / ML"><img src="https://my.intwixt.com/stars/Aito.1/image_96"></span>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end example -->

</div> <!-- main page wrapper end content -->

<script type="text/x-template" id="solution-emulator">
    <div class="emulator">

        <div v-bind:class="['stepper', { active: story_board.state === 'playing' && story_board.step_next}]"
             title="Show next step"
             v-on:click="play(false, true);">
            <i class="fas fa-play fa-3x"></i>
        </div>

        <!-- runs the emulators -->
        <div class="runner">

            <!-- overlay to show when in 'idling' state -->
            <div v-bind:class="['story_overlay', { active: story_board.state === 'idling'}]">
                <div class="play">
                    <div v-on:click="play_all()" title="Play all" class="button all">
                        <i class="fas fa-play fa-6x"></i>
                        <div class="label">Play Example</div>
                    </div>
                    <div v-on:click="step_through()" title="Step through at my own pace" class="button step">
                        <i class="fas fa-step-forward fa-6x"></i>
                        <div class="label">Step Through</div>
                    </div>
                </div>
            </div>

            <!-- overlay to show when in 'played' state (this is the call-to-action) -->
            <div v-bind:class="[{ active: story_board.state === 'played' }]"
                 class="story_overlay cta">
                <div class="blurb">
                    Multi-role. &nbsp; Multi-system. &nbsp; Unified in Slack.
                </div>
                <div class="options">
                    <div class="option">
                        <label>Try the Slack App</label>
                        <div class="action">
                            <button class="btn" onclick="alert('This page is in beta and under review. Contact Intwixt for a pre-release demo while we finish things up.');">Add to Slack</button>
                        </div>
                    </div>
                    <div class="option">
                        <label>Own the Slack App*</label>
                        <div class="action">
                            <button class="btn" onclick="alert('This page is in beta and under review. Contact Intwixt for a pre-release demo while we finish things up.');">Get Started</button>
                        </div>
                    </div>
                    <div class="option">
                        <label>Contact us</label>
                        <div class="links action">
                            <div>
                                <a href="mailto:contact@intwixt.com"><i class="far fa-envelope"></i> contact@intwixt.com</a>
                            </div>
                            <div>
                                <a href="tel:650-603-0068"><i class="fas fa-phone"></i> 650-603-0068</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footnote">*Sign up for a free Intwixt account. We'll copy the source files and give you tips
                    to
                    get started.
                </div>
            </div>

            <div v-for="(panel, panel_id) in panels">

                <!-- image viewer; common container that renders static images when storytelling -->
                <div :id="panel_id"
                     class="imager panel"
                     v-bind:class="[{ active: activePanelId === panel_id }]"
                     v-if="panel.type === 'image'">
                    <img class="avatar"
                         :src="panel.src">
                </div>

                <!-- intwixt emulator; common container that renders the graph on the canvas -->
                <div :id="panel_id"
                     class="intwixter panel"
                     v-bind:class="[{ active: activePanelId === panel_id }]"
                     v-if="panel.type === 'intwixt'">
                    <div class="head">
                        <label>Intwixt Designer</label>
                        <img src="https://my.intwixt.com/static1/css/img/logos/light_300.png">
                    </div>
                    <div class="body" :id="'viewport_' + id + '_' + panel_id">
                        <canvas :id="'viewport_runner_' + id + '_' + panel_id" width="666" height="500"></canvas>
                        <div class="plus"><span>+</span></div>
                    </div>
                </div>

                <!-- slack emulator; each instance represents a slack user and their workspace -->
                <div :id="panel_id"
                     v-if="panel.type === 'slack'"
                     v-bind:class="['slacker', 'panel', { active: activePanelId === panel_id }]">
                    <div class="slack">
                        <div class="sidebar">
                            <div class="workspace_selector">
                                {{panel.workspace.title}} <span class="carat"><i
                                    class="fas fa-angle-down"></i></span>
                            </div>
                            <div class="active_user">
                                {{users[panel.activeUserId].title}}
                            </div>
                            <div class="label">Channels</div>
                            <div v-for="(channel, channel_id) in panel.channels"
                                 v-if="!channel.is_dm"
                                 v-on:click="set_active_channel(panel_id, channel.id)"
                                 v-bind:class="['channel', { active: panel.activeChannelId === channel.id }, { private: channel.private }, { activating: channel.activating }]"
                                 v-bind:key="channel.id">
                                {{channel.title}}
                            </div>
                            <div class="label">Apps</div>
                            <div v-for="(channel, channel_id) in panel.channels"
                                 v-if="channel.is_dm"
                                 v-on:click="set_active_channel(panel_id, channel.id)"
                                 v-bind:class="['channel', 'app', { active: panel.activeChannelId === channel.id }, { activating: channel.activating }]"
                                 v-bind:key="channel.id">
                                {{channel.title}}
                            </div>
                        </div>
                        <div class="main" v-if="panel.channels[panel.activeChannelId]">
                            <div class="chrome">
                                <span class="signal"><i class="fas fa-signal"></i></span>
                                <span class="wifi"><i class="fas fa-wifi"></i></span>
                                <span class="time">3:27 PM</span>
                                <span class="battery"><small>75%</small>&nbsp;&nbsp;<i
                                        class="fas fa-battery-three-quarters"></i></span>
                            </div>
                            <div class="info">
                                <span class="icon"></span>
                                <label v-bind:class="[panel.channels[panel.activeChannelId].id, { app: panel.channels[panel.activeChannelId].is_dm }, { private: panel.channels[panel.activeChannelId].private && !panel.channels[panel.activeChannelId].is_dm }, { public: !panel.channels[panel.activeChannelId].private }]">{{panel.channels[panel.activeChannelId].title}}</label>
                                <div class="channel_profile">
                                    <span class="star"><i class="far fa-star"></i></span>
                                    <span class="members"><i class="fas fa-user"></i> {{panel.channels[panel.activeChannelId].members}}</span>
                                    <span class="pins"><i class="fas fa-thumbtack"></i> {{panel.channels[panel.activeChannelId].pins}}</span>
                                    <span class="more"><i class="fas fa-ellipsis-v"></i></span>
                                </div>
                            </div>
                            <div class="messages">
                                <div v-for="(message, message_id) in panel.channels[panel.activeChannelId].messages"
                                     v-bind:class="['message', { activating: message.activating }]"
                                     v-bind:key="message.id">
                                    <img class="avatar"
                                         :src="'/img/avatars/' + users[message.author].avatar">
                                    <div class="data">
                                        <div class="metadata">
                                            <span class="author">{{users[message.author].title}}</span>
                                            <span
                                                    class="timestamp">{{message.timestamp}}</span>
                                        </div>
                                        <div>
                                            <img class="icon" v-if="message.icon" :src="message.icon"
                                                 align="right">
                                            <div class="text" v-html="message.text"></div>
                                            <div v-if="message.file" class="file">
                                                <i class="far fa-file-alt file_icon"></i>
                                                {{message.file}}
                                            </div>
                                            <div v-if="message.fields" class="fields">
                                                <div v-for="field in message.fields"
                                                     class="field">
                                                    {{field.title}}
                                                </div>
                                            </div>
                                            <p v-if="message.actions" class="actions">
                                                <button v-for="(action, action_id) in message.actions"
                                                        v-bind:key="action.id"
                                                        v-on:click="act(panel_id, panel.channels[panel.activeChannelId], message, action)"
                                                        v-bind:class="[action.style, { activating: action.activating }, { select: action.type == 'select' }]">
                                                    {{action.title}}
                                                    <i class="chevron fas fa-chevron-down"></i>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input">
                                <i class="fas fa-paperclip"
                                   v-bind:class="[{ activating: panel.file.activating }]"
                                   v-on:click="show_file_prompt(panel_id)"></i>
                                <input type="text"
                                       v-model="panel.input"
                                       :placeholder="'Message ' + panel.channels[panel.activeChannelId].title"
                                       v-on:keyup.enter="send_message(panel_id)">
                            </div>
                        </div>
                    </div>
                    <div v-bind:class="['slack_overlay', { active: panel.file.active }]">
                        <div class="mask"></div>
                        <div class="file_upload">
                            <h3 class="file_title">Upload a file</h3>
                            <i class="fas fa-times file_close"
                               v-on:click="cancel_file_upload(panel_id)"></i>
                            <textarea class="file_message"
                                      v-model="panel.file.message"
                                      placeholder="Add a message about the file"></textarea>
                            <div class="file_wrapper">
                                <span class="file">
                                    <i class="far fa-file-alt file_icon"></i>
                                    <label class="file_name">{{panel.file.filename}}</label>
                                </span>
                            </div>
                            <button class="file_button btn"
                                    v-bind:class="[{ activating: panel.file.submitting }]"
                                    v-on:click="before_file_upload(panel_id, panel.file.filename, panel.file.message)">
                                Upload
                            </button>
                        </div>
                    </div>
                    <div v-bind:class="['slack_overlay', { active: panel.dialog.active }]">
                        <div class="mask"></div>
                        <div class="dialog">
                            <h3 class="dialog_title">{{panel.dialog.title}}</h3>
                            <i class="fas fa-times dialog_close"></i>
                            <textarea class="textarea"
                                      v-model="panel.dialog.value"
                                      :placeholder="panel.dialog.fields[panel.dialog.target_field].placeholder"></textarea>
                            <button class="cancel btn">Cancel</button>
                            <button class="submit btn"
                                    v-bind:class="[{ activating: panel.dialog.submitting }]"
                                    v-on:click="before_dialog_submit(panel_id, panel.dialog.action, panel.dialog.value)">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="annotation"
             v-bind:class="[{ active: annotation.user }]">
            <div class="triangle"></div>
            <img class="avatar"
                 v-if="annotation.user"
                 :src="'/img/avatars/' + users[annotation.user].avatar">
            <p class="text">
                <label class="role">{{annotation.role}}</label>
                <span v-html="annotation.text"></span>
            </p>
        </div>
    </div>
</script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.8.3/underscore-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/emulator/stories/hubble.js"></script>
<script src="/emulator/js/slack.js"></script>
<script src="/emulator/js/canvas.js"></script>
<script src="/js/main.js"></script>
<script>
  emulate("hubble", "#hubble", hubble);
</script>
</body>
</html>
