* {
    box-sizing: border-box;
}

.orbit {
    position: absolute;
    right: -25px;
    top: -11em;
    width: 25em;
    height: 25em;
    z-index: -1;
}

.orbit-icon {
    width: 30px;
    height: 30px;
    line-height: 1.6em;
    font-size: 1.2em;
    border-radius: 50%;
    text-align: center;
    display: block;
}

.orbit-wrap {
    height: 100%;
    list-style: none;
    font-size: 2em;
}

.orbit-wrap > li {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*
.orbit-wrap > li:hover ul {
    border-width: 2px;
    border-color: #fff;
}
.orbit-wrap > li:hover ~ li ul {
    border-color: rgba(255, 255, 255, 0.2);
}
.orbit-wrap > li:hover ~ li ul li {
    opacity: 0.4;
}
*/
ul[class^=ring] {
    transition: all 300ms ease-in-out;
}
ul[class^=ring] li {
    transition: all 300ms ease-in-out;
}

/** NOTE: I MERGED THE ICONS IN RING 0 AT 12.5EM BY CHANGING TO 10EM AND SYNCING THE ANIMATIONS **/

.ring-0 {
    width: 25em;
    height: 25em;
    animation: clockwiseRotate 280s linear infinite;
}
.ring-0 i {
    animation: counterClockwiseRotate 280s linear infinite;
}

.ring-0 > *:nth-of-type(1) {
    transform: rotate(76deg) translate(10em) rotate(-76deg);
}

.ring-0 > *:nth-of-type(2) {
    transform: rotate(152deg) translate(10em) rotate(-152deg);
}

.ring-0 > *:nth-of-type(3) {
    transform: rotate(228deg) translate(10em) rotate(-228deg);
}

.ring-0 > *:nth-of-type(4) {
    transform: rotate(304deg) translate(10em) rotate(-304deg);
}

.ring-0 > *:nth-of-type(5) {
    transform: rotate(395deg) translate(10em) rotate(-395deg);
}

.ring-1 {
    width: 20em;
    height: 20em;
    animation: clockwiseRotate 280s linear infinite;
}
.ring-1 i {
    animation: counterClockwiseRotate 280s linear infinite;
}

.ring-1 > *:nth-of-type(1) {
    transform: rotate(110deg) translate(10em) rotate(-110deg);
}

.ring-1 > *:nth-of-type(2) {
    transform: rotate(190deg) translate(10em) rotate(-190deg);
}

.ring-1 > *:nth-of-type(3) {
    transform: rotate(260deg) translate(10em) rotate(-260deg);
}

.ring-1 > *:nth-of-type(4) {
    transform: rotate(325deg) translate(10em) rotate(-325deg);
}

.ring-2 {
    width: 15em;
    height: 15em;
    animation: clockwiseRotate 280s linear infinite;
}
.ring-2 i {
    animation: counterClockwiseRotate 280s linear infinite;
}

.ring-2 > *:nth-of-type(1) {
    transform: rotate(52.22222deg) translate(7.5em) rotate(-52.22222deg);
}

.ring-2 > *:nth-of-type(2) {
    transform: rotate(84.44444deg) translate(7.5em) rotate(-84.44444deg);
}

.ring-2 > *:nth-of-type(3) {
    transform: rotate(126.66666deg) translate(7.5em) rotate(-126.66666deg);
}

.ring-2 > *:nth-of-type(4) {
    transform: rotate(168.88888deg) translate(7.5em) rotate(-168.88888deg);
}

.ring-2 > *:nth-of-type(5) {
    transform: rotate(211.11111deg) translate(7.5em) rotate(-211.11111deg);
}

.ring-2 > *:nth-of-type(6) {
    transform: rotate(253.33333deg) translate(7.5em) rotate(-253.33333deg);
}

.ring-2 > *:nth-of-type(7) {
    transform: rotate(295.55555deg) translate(7.5em) rotate(-295.55555deg);
}

.ring-2 > *:nth-of-type(8) {
    transform: rotate(337.77777deg) translate(7.5em) rotate(-337.77777deg);
}
.ring-2 > *:nth-of-type(9) {
    transform: rotate(380deg) translate(7.5em) rotate(-380deg);
}

.ring-3 {
    width: 10em;
    height: 10em;
    animation: clockwiseRotate 280s linear infinite;
}
.ring-3 i {
    animation: counterClockwiseRotate 280s linear infinite;
}

.ring-3 > *:nth-of-type(1) {
    transform: rotate(95deg) translate(5em) rotate(-95deg);
}

.ring-3 > *:nth-of-type(2) {
    transform: rotate(190deg) translate(5em) rotate(-190deg);
}

.ring-3 > *:nth-of-type(3) {
    transform: rotate(270deg) translate(5em) rotate(-270deg);
}

.ring-3 > *:nth-of-type(4) {
    transform: rotate(360deg) translate(5em) rotate(-360deg);
}

ul[class^=ring] {
    position: relative;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;
}

ul[class^=ring] li {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.6em;
    height: 1.6em;
    margin: -0.8em;
}


/**************************************************************************************************************
                                                center cog with intwixt
***************************************************************************************************************/


.intwixt-cog {
    top:-70px;
    margin: 0 50% 0 0;
    color:#c8c8c8;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
    width: 100px;
    height: 100px;
    display: none; /* seemed too busy to include this for now  */
}

.intwixt-cog:after {
    background-size: 76px 76px;
    display: inline-block;
    width: 76px;
    height: 76px;
    content:"";
    background-image: url('/img/intwixt_03A9F4.png');;
}

.orbit-center {
    z-index: 5;
    font-size: 2em;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 100%;
    display: none;
}

.orbit-center:after {
    background-size: 96px 96px;
    display: inline-block;
    width: 96px;
    height: 96px;
    content:"";
    background-image: url('/img/intwixt.png');
}

@keyframes clockwiseRotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes counterClockwiseRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.orbit-icon:after {
    background-size: 18px 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content:"";
}

/*
icons
*/
.orbit-icon.stepfunctions:after {
    background-image: url('https://my.intwixt.com/stars/StepFunctions.1/image_32');
}

.orbit-icon.alexa:after {
    background-image: url('https://my.intwixt.com/stars/Alexa.1/image_32');
}

.orbit-icon.slack:after {
    background-image: url('https://my.intwixt.com/stars/Slack.1/image_32');
}

.orbit-icon.twilio:after {
    background-image: url('https://my.intwixt.com/stars/Twilio.1/image_32');
}

.orbit-icon.aito:after {
    background-image: url('https://my.intwixt.com/stars/Aito.1/image_32');
    border: solid 1px #fbc8df;
    border-radius: 50%;
}

.orbit-icon.dialogflow:after {
    background-image: url('https://my.intwixt.com/stars/GoogleAPIAI.1/image_32');
}

.orbit-icon.lambda:after {
    background-image: url('https://my.intwixt.com/stars/Lambda.1/image_32');
}

.orbit-icon.cloudwatch:after {
    background-image: url('https://my.intwixt.com/stars/CloudWatch.1/image_32');
}

.orbit-icon.hubspot:after {
    background-image: url('https://my.intwixt.com/stars/HubSpot.1/image_32');
}

.orbit-icon.intercom:after {
    background-image: url('/img/connectors/Intercom_32.png');
}

.orbit-icon.s3:after {
    background-image: url('https://my.intwixt.com/stars/S3.1/image_32');
}

.orbit-icon.firebase:after {
    background-image: url('https://my.intwixt.com/stars/Firebase.1/image_32');
}

.orbit-icon.gcf:after {
    background-image: url('https://my.intwixt.com/stars/GoogleCloudFunctions.1/image_32');
}

.orbit-icon.luis:after {
    background-image: url('https://my.intwixt.com/stars/MicrosoftLUIS.1/image_32');
}

.orbit-icon.sqs:after {
    background-image: url('https://my.intwixt.com/stars/SQS.1/image_32');
}

.orbit-icon.uipath:after {
    background-image: url('https://my.intwixt.com/stars/UIPath.1/image_32');
}

.orbit-icon.maps:after {
    background-image: url('https://my.intwixt.com/stars/Maps.1/image_32');
}

.orbit-icon.messenger:after {
    background-image: url('https://my.intwixt.com/stars/Messenger.1/image_32');
}

.orbit-icon.user1:after {
    background-image: url('/img/avatars/u1.png');
    border-radius: 100%;
    background-size: 22px 22px;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.orbit-icon.user2:after {
    background-image: url('/img/avatars/u2.png');
    border-radius: 100%;
    background-size: 22px 22px;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.orbit-icon.user3:after {
    background-image: url('/img/avatars/u3.png');
    border-radius: 100%;
    background-size: 22px 22px;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.orbit-icon.user4:after {
    background-image: url('/img/avatars/u4.png');
    border-radius: 100%;
    background-size: 22px 22px;
    display: inline-block;
    width: 22px;
    height: 22px;
}

/* ==========================================================================================================
                                       RESPONSIVE STYLING
  ========================================================================================================== */


@media screen and (max-width: 993px) {

    .orbit {
        right:-55px
    }

    .orbit-wrap {
        font-size: 3em;
    }

    .intwixt-cog {
        display: none;
    }

}

@media screen and (max-width: 800px) {

    .orbit {
        right:-66px;
    }

    .orbit-wrap {
        font-size: 2em;
    }

}
@media screen and (max-width: 520px) {

    .orbit {
        display: none;
    }

}